{% set title = "twilio 관리" %}
{% extends "layout/base.html" %}

{% block content -%}

<style>
.ul{
    list-style-type: circle;
}
.li{
    list-style-type: '-';
}
</style>

<ul class="ul"><h2>말또미야!</h2></ul>
<li class="li">어르신들께 오늘의 날씨를 알려주는 기능 및 대화상대가 되어주는 대화기능</li>
<li class="li"><strong>말또미야! 라고 말하고 궁금한 것을 말하면 됩니다.</strong></li>
<h2>노래불러줘</h2>
<p>어르신들 사이에서 유명한 트로트 노래 불러주는 기능</p>
<p><strong>임영웅 노래 불러줘, 송가인 노래 불러줘, 영탁 노래 불러줘 , 땡땡땡 노래 불러줘 하면 됩니다.</strong></p>
<h2>살려줘</h2>
<p>어르신들께 응급상황이 있을때 주변 지인에게 연락을 해서 구해주는 기능</p>
<p><strong>위험할 때 '살려줘' 라고 말하면 주변지인에게 문자가 가게 됩니다.</strong> </p>
<h2>알람기능</h2>
<p>어르신들이 약 드시는 것을 까먹지 않도록 알람을 해주는 기능</p>
<p><strong>특정 시간에 약 먹었는지 물어봅니다. 드셨으면 '먹었어' 안드셨으면 '아니'라고 하면 됩니다.</strong></p>
<h2>치매테스트할게</h2>
<p>어르신들이 치매테스트를 할 수 있는 기능</p>
<p><strong>'치매테스트 할게' 라고 하시면 치매테스트가 나옵니다. 문제가 나오면 정답을 말하시면 됩니다. </strong></p>

{% endblock %} 