{% set title = "twilio 관리" %}
{% extends "layout/base.html" %}

{% block content -%}

<table class="table table-bordered table-hover">
    <tr>
        <th>날짜</th>
        <th>번호</th>
        <th>질문</th>
        <th>정답</th>
        <th>대답</th>
        <th>점수</th>
    </tr>

    {% for az in alzheimer_test%}

    <tr>
        <td>
            {{ az.Date}}
        </td>
        <td>
            {{ az.questionnumber }}
        </td>
        <td>
            {{ az.question }}
        </td>
        <td>
            {{ az.answer }}
        </td>
        <td>
            {{ az.reply }}
        </td>
        <td>
            {{ az.ScoreCheck }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %} 