{% set title = "twilio 관리" %}
{% extends "layout/base.html" %}

{% block content -%}

    <button type="submit" id="join-submit" class="btn btn-white">
            <a href="/customer/register" style="text-decoration:none">번호등록(이거 먼저 해주세요!)</a>
    </button>
    <table class="table table-bordered table-hover">
        <tr>
            <th>이름</th>
            <th>전화번호</th>
            <th>삭제</th>
        </tr>

        {% for customer in customers%}

        <tr>
            <td>
                <a href= "/customer/detail/{{ customer.id }}">
                    {{ customer.name }}
                </a>
            </td>
            <td>
                {{ customer.phone }}
            </td>
            <td>
                <a href="/customer/delete/{{customer.id}}" class="btn btn-danger" 
                onclick="return confirm('삭제 하시겠습니까?')">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <article class="container">
            <div class="page-header">
                <div class="col-md-6 col-md-offset-3">
                <h3>등록</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-offset-3">
                <form role="form" action="" method="post">
                    <div class="form-group">
                        <label for="inputName">성명</label>
                        <input type="text" name="name" class="form-control" id="inputName" placeholder="이름을 입력해 주세요">
                    </div>
                   
                    <div class="form-group">
                        <label for="inputMobile">휴대폰 번호</label>
                        <input type="tel" name="phone" class="form-control" id="inputMobile" placeholder="휴대폰번호를 입력해 주세요(+821012345678)">
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" id="join-submit" class="btn btn-primary">
                            등록<i class="fa fa-check spaceLeft"></i>
                        </button>
                        <button type="submit" class="btn btn-warning">
                           취소<i class="fa fa-times spaceLeft"></i>
                        </button>
                    </div>
                </form>
            </div>

        </article>
   

{% endblock %} 