<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../../uploads/css/base.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  
        <script src="datepicker/js/datepicker.min.js"></script>
        <script src="datepicker/js/i18n/datepicker.en.js"></script>   
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css">


        <style>
            body{
                width:85%;
                margin:0 auto;
            }
        </style>
        <title>Hansei</title>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Convenience</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active" >
                    <a class="nav-link" href="/customer" >
                       <button type="button" class="btn btn-outline-primary"> twilio customer </button> 
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/alarm">      
                        <button type="button" class="btn btn-outline-primary  "> 알람조회</button> 
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/alzheimer">
                        <button type="button" class="btn btn-outline-primary ">치매테스트 기록</button> 
                    </a> 
                </li>
              </ul>
                  
            </div>
          </nav>
      </head>
<body>
    <div class="container" style="padding-top:100px;">

        {% block content %}{% endblock %}

    </div>    
</body>
</html> 