{% set title = "twilio 관리" %}
{% extends "layout/base.html" %}

{% block content -%}

<script>
    $(document).ready(function() {
        $('.calendarClass').datepicker({
            showOn:"button",
            buttonImage: "/uploads/calendar.png",
            buttonImageOnly: true,
            dateFormat:"yy-mm-dd"
        });
    })
    
</script>
<form role="form" action="" method="post">
    <input type='text' name="datepicker" class="calendarClass" data-position="left top"  data-language='en'/> 
    {# <img src="/uploads/calendar.png" class="calendar" > #}
    <button type="submit">확인</button>
</form>

<table class="table table-bordered table-hover">
    <tr>
        <th>날짜</th>
        <th>아침</th>
        <th>점심</th>
        <th>저녁</th>
    </tr>

    {% for al in medicinecheck%}

    <tr>
        <td>
            {{ al.Date }}
        </td>
        <td>
            {{ al.morning }}
        </td>
        <td>
            {{ al.lunch }}
        </td>
        <td>
            {{ al.dinner }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %} 