{% set title = "twilio 관리" %}
{% extends "layout/base.html" %}

{% block content -%}

<table class="table table-bordered table-hover">
    <tr>
        <th>날짜</th>
        <th>아침</th>
        <th>점심</th>
        <th>저녁</th>
    </tr>

    {% for al in medicinecheck%}

    <tr>
        <td>
            {{ al.Date }}
        </td>
        <td>
            {{ al.morning }}
        </td>
        <td>
            {{ al.lunch }}
        </td>
        <td>
            {{ al.dinner }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %} 